.users{
    margin-top: -1rem;
    padding-bottom: 5rem;
    padding-left: 20px;
    position: fixed;
    margin-left: 6%;
    padding-top: 2%;
    width: 25%;
    height: 85%;
    text-align:justify;
    border-left: 1px solid lightgray;
    overflow-y: auto;
}
