.users{
    margin-top: -16px;
    padding-left: 20px;
    position: fixed;
    margin-left: 6%;
    padding-top: 2%;
    width: 32.5%;
    height: 89%;
    text-align:justify;
    border-left: 1px solid lightgray;
}
