.header{
    padding: 15px 20px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-primary);
    z-index: 1;
    top: 0;
    align-items: center;
    box-shadow: 0px 5px 8px -9px var(--ol-shadow);
    width: 98%;
    height: 40px;
}

.header_left{
    display: flex;
    justify-content: space-evenly;
    align-items: center
    
}

.header_input{
    display: flex;
    align-items: center;
    background-color: var(--ip-bg);
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
    height: 20px;
}

.header_input > input {
    border: none;
    background-color: transparent;
    outline-width: 0;
}

.header_center {
    display: flex;
    flex: 1;
    justify-content: center;
}

.header_left > svg {
    border-radius: 30px;
    padding: 10px;
    height: 60px;
    width: 60px;
    color: var(--bg-secondary);
}

.header_left > svg:hover {
    cursor: pointer;
}

.header_option{
    display: flex;
    align-items: center;
    padding: 10px 10px;
    border-radius: 30px;
    cursor: pointer;
    color: var(--bg-secondary);
    box-shadow: 0 2px 8px var(--ol-shadow);
}

.header_option > .MuiSvgIcon-root {
    width: 40px;
    height: 40px;
}

.header_option:hover {
    background-color: var(--btn-hover);
    border-bottom: none;
    
}

.header_option:hover > .MuiSvgIcon-root {
    color: white;
}

.header_option-active > .MuiSvgIcon-root {
    color: var(--bg-secondary);
}


.header_info{
    border-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 8px var(--ol-shadow);
    color: var(--bg-secondary);
}

.header_info:hover{
    color: white;
    background-color: var(--btn-hover);
    cursor: pointer;
}

.header_info > h4{
    margin-left: 10px;
}

.header_right {
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
}

.header_right > div{
    margin: 0 5px;
}
