.post {
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 8px var(--ol-shadow);
}

.post_top {
    display: flex;
    position: relative;
    align-items: center;
    padding-top: 8px;
    padding-left: 8px;
}

.post_top > .MuiAvatar-root:hover {
    filter: brightness(1.1);
    cursor: pointer;
}

.post_top_info > h3 {
    font-size: medium;
}

.post_topInfo > p {
    font-size: small;
    color: grey;
}

.post_top_more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    border-radius: 100%;
    border: none;
    color: var(--bg-secondary);
    
}

.enabled:hover {
    cursor: pointer;
    filter: brightness(0.9);
    background-color: var(--ip-bg);
}

.disabled {
    color: gray;
    cursor: default;
}

.post_avatar {
    margin-right: 10px;
}

.post_bottom {
    margin-bottom: 10px;
    padding: 10px 25px;
}

.post_image > img {
    width: 100%;
}

.post_actions {
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: var(--bg-secondary);
    cursor: pointer;
}

.post_action {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
    padding: 10px;
}

.post_action > p {
    margin-left: 10px;
}

.post_action:hover {
    color: white;
    background-color: var(--btn-hover);
}

.left:hover {
    border-bottom-left-radius: 10px;
}

.right:hover {
    border-bottom-right-radius: 10px;
}

.post_comments {
    flex-direction: column;
}

.post_create_comment {
    padding-top: 15px;
    padding-left: 8px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.post_create_comment > form > input{
    outline-width: 0;
    border: none;
    padding: 5px 15px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: var(--ip-bg);
}

.post_create_comment > .MuiAvatar-root {
    width: 30px;
    height: 30px;
}

.post_create_comment > .MuiAvatar-root:hover {
    filter: brightness(1.1);
}

