.postCreator{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.postCreator_input {
    flex: 1;
}

.postCreator_top {
    display: flex;
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
}

.postCreator_top > form {
    flex: 1;
    display: flex;
}

.postCreator_top > form > input {
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}

.postCreator_top > form > button {
    display: none;
}

.postCreator_top > .MuiAvatar-root:hover {
    filter: brightness(1.1);
}

.inputIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputIcon > p {
    color: green;
}

.imageIcon {
    color: green;
}

.smallImage {
    display: flex;
    cursor: pointer;
    flex-direction: column;

}

.smallImage:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.smallImage > img {
    height: 2.5rem;
}

.smallImage > p {
    color: red;
    text-align: center;
}