.post {
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.post_top {
    display: flex;
    position: relative;
    align-items: center;
    padding-top: 8px;
    padding-left: 8px;
}

.post_top > .MuiAvatar-root:hover {
    filter: brightness(1.1);
}

.post_top_info > h3 {
    font-size: medium;
}

.post_topInfo > p {
    font-size: small;
    color: grey;
}

.post_avatar {
    margin-right: 10px;
}

.post_bottom {
    margin-bottom: 10px;
    padding: 10px 25px;
}

.post_image > img {
    width: 100%;
}

.post_options {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: #2e81f4;
    cursor: pointer;
}

.post_option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
    padding: 10px;
}

.post_option > p {
    margin-left: 10px;
}

.post_option:hover {
    color: white;
    background-color: rgb(18, 70, 83);
}

.left:hover {
    border-bottom-left-radius: 10px;
}

.right:hover {
    border-bottom-right-radius: 10px;
}

.post_comments {
    display: flex;
    flex-direction: column;
}

.post_create_comment {
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
}

.post_create_comment > form > input{
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}

.post_create_comment > .MuiAvatar-root:hover {
    filter: brightness(1.1);
}
